<app-button-bar [buttons]="buttons" [resource]="'task'"></app-button-bar>

<div class="row mt-3">
	<div class="col-lg-6">

		<!-- NORMAL -->
		<!-- <div class="card">
			<div class="card-body">

				<div class="form-group row mb-2">
					<label class="col-md-2 col-form-label">{{ 'TASKDETAIL.LABEL.SUBJECT' | translate }}: </label>
					<div class="col-md-8">
						<input class="form-control" [(ngModel)]="taskData.subject" (change)="valueChanged($event)" [disabled]="editDisabled">
					</div>
				</div>

				<div class="form-group row mb-2">
					<label class="col-md-2 col-form-label form-label">{{ 'TASKDETAIL.LABEL.TITLE' | translate }}: </label>
					<div class="col-md-8">
						<input class="form-control" [(ngModel)]="titleData.name" disabled>
					</div>
				</div>

				<div class="form-group row mb-2">
					<label class="col-md-2 col-form-label form-label">{{ 'TASKDETAIL.LABEL.DUEDATE' | translate }}: </label>
					<div class="col-md-4">
						<input class="form-control" type="datetime" [(ngModel)]="taskData.dueDate" disabled>
					</div>
				</div>

				<div class="form-group row mb-2">
					<label class="col-md-2 col-form-label form-label">{{ 'TASKDETAIL.LABEL.CREATEDBY' | translate }}: </label>
					<div class="col-md-8">
						<input class="form-control" type="text" [(ngModel)]="taskData.createdBy" disabled>
					</div>
				</div>

				<div class="form-group row mb-2">
					<label class="col-md-2 col-form-label form-label">{{ 'TASKDETAIL.LABEL.ASSIGNEDTO' | translate }}: </label>
					<div class="col-md-8">
						<input class="form-control" type="text" [(ngModel)]="contactData.salutation!" disabled>
					</div>
				</div>

				<div class="row">
					<div class="col">

						<div class="form-group row">
							<label class="col-md-4 col-form-label form-label">{{ 'TASKDETAIL.LABEL.SENTDATE' | translate }}: </label>
							<div class="col-md-8">
								<input class="form-control" type="datetime" [(ngModel)]="taskData.sentDate" disabled>
							</div>
						</div>

					</div>

					<div class="col">

						<div class="form-group row">
							<label class="col-md-4 col-form-label form-label">{{ 'TASKDETAIL.LABEL.COMPLETEDDATE' | translate }}: </label>
							<div class="col-md-8">
								<input class="form-control" type="datetime" [(ngModel)]="taskData.completeDate" disabled>
							</div>
						</div>

					</div>
				</div>

 			</div>
		</div> -->

		<!-- SMALL -->
		<div class="card">
			<div class="card-body">

				<div class="form-group row mb-2">
					<label class="col-md-2 col-form-label col-form-label-sm">{{ 'TASKDETAIL.LABEL.SUBJECT' | translate }}: </label>
					<div class="col-md-8">
						<input class="form-control form-control-sm" [(ngModel)]="taskData.subject" disabled>
					</div>
				</div>

				<div class="form-group row mb-2">
					<label class="col-md-2 col-form-label col-form-label-sm">{{ 'TASKDETAIL.LABEL.TITLE' | translate }}: </label>
					<div class="col-md-8">
						<input class="form-control form-control-sm" [(ngModel)]="titleData.name" disabled>
					</div>
				</div>

				<div class="form-group row mb-2">
					<label class="col-md-2 col-form-label col-form-label-sm">{{ 'TASKDETAIL.LABEL.DUEDATE' | translate }}: </label>
					<div class="col-md-4">
						<input class="form-control form-control-sm" type="datetime" [(ngModel)]="taskData.dueDate" disabled>
					</div>
				</div>

				<div class="form-group row mb-2">
					<label class="col-md-2 col-form-label col-form-label-sm">{{ 'TASKDETAIL.LABEL.CREATEDBY' | translate }}: </label>
					<div class="col-md-8">
						<input class="form-control form-control-sm" type="text" [(ngModel)]="taskData.createdBy" disabled>
					</div>
				</div>

				<div class="form-group row mb-2">
					<label class="col-md-2 col-form-label col-form-label-sm">{{ 'TASKDETAIL.LABEL.ASSIGNEDTO' | translate }}: </label>
					<div class="col-md-8">
						<input class="form-control form-control-sm" type="text" [(ngModel)]="contactData.salutation!" disabled>
					</div>
				</div>

				<div class="row">
					<div class="col">

						<div class="form-group row">
							<label class="col-md-4 col-form-label col-form-label-sm">{{ 'TASKDETAIL.LABEL.SENTDATE' | translate }}: </label>
							<div class="col-md-8">
								<input class="form-control form-control-sm" type="datetime" [(ngModel)]="taskData.sentDate" disabled>
							</div>
						</div>

					</div>

					<div class="col">

						<div class="form-group row">
							<label class="col-md-4 col-form-label col-form-label-sm">{{ 'TASKDETAIL.LABEL.COMPLETEDDATE' | translate }}: </label>
							<div class="col-md-8">
								<input class="form-control form-control-sm" type="datetime" [(ngModel)]="taskData.completeDate" disabled>
							</div>
						</div>

					</div>
				</div>

 			</div>
		</div>

	</div>

	<div class="col-lg-6">

		<div class="card">
			<div class="card-body">
				<div class="form-group row">
					<label class="col col-form-label col-form-label-sm">{{ 'TASKDETAIL.LABEL.DESCRIPTION' | translate }}: </label>
				</div>
				<div class="form-group row">
					<div class="col">
						<textarea class="form-control form-control-sm" [(ngModel)]="taskData.description" disabled rows="9"> </textarea>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="row mt-4">
	<div class="col">
		<div class="card">
			<div class="card-body">
				<smart-tabs style="font-size: 0.74375rem;" animation="none">

					<smart-tab-item label="Communications">
						<div class="row">
							<div class="col">

								<div class="d-flex justify-content-end">
									<div class="btn-group mb-2" role="group">
										<button class="btn btn-primary btn-sm" (click)="btnNewComm()"><span><i class="far fa-plus"></i></span></button>
										<button class="btn btn-primary btn-sm" (click)="btDeleteComm()"><span><i class="far fa-minus"></i></span></button>
									</div>
								</div>

								<div style="height: 190px">
									<smart-grid #gridComm
										class="smart-grid-sm"
										id="commsList"
										(rowClick)="commClick($event)"
										[theme]="smartTheme"
										[dataSource]="taskData.detail.response"
										[columns]="commColumns"
										[appearance]="gridSettings.appearance"
										[behavior]="gridSettings.behavior"
										[selection]="gridSettings.selection"
										[editing]="gridSettings.editing">
									</smart-grid>
								</div>

							</div>

							<div class="col">
								
								<div class="form-group row">
									<label class="col col-form-label col-form-label-sm">{{ 'COMMDETAIL.LABEL.NOTE' | translate }}: </label>
								</div>
								<div class="form-group row">
									<div class="col">
										<textarea class="form-control form-control-sm" [(ngModel)]="selectedCommData.text" (change)="valueChanged($event)" (change)="commNoteChanged()" [disabled]="commNoteDisabled" rows="10"> </textarea>
									</div>
								</div>

							</div>
						</div>
					</smart-tab-item>

					<smart-tab-item label="Files">
						<div class="row">
							<div class="col">

								<div style="height: 190px">
									<smart-grid #file
										class="smart-grid-sm"
										id="fileList"
										(rowClick)="fileClick($event)"
										[theme]="smartTheme"
										[dataSource]="fileList"
										[columns]="fileColumns"
										[appearance]="gridSettings.appearance"
										[behavior]="gridSettings.behavior"
										[selection]="gridSettings.selection"
										[editing]="gridSettings.editing">
									</smart-grid>
								</div>

								<!-- <smart-file-upload #attachmentUpload
									(uploadCompleted)="attachmentUploadComplete($event)"
									[uploadUrl]="attachmentUploadUrl"
									[disabled]="attachmentUploadDisabled"
									[theme]="smartTheme">
								</smart-file-upload> -->

							</div>
							<div class="col">
								<div class="form-group row">
									<label class="col col-form-label col-form-label-sm">{{ 'FILEDETAIL.LABEL.PREVIEW' | translate }}: </label>
								</div>
								<div class="form-group row">
									<div class="col">
										<iframe style="width: 100%; height: 195px" id="iFrameEmailDisplay" [src]="fileDisplaySrc | safe: 'resourceUrl'"></iframe>
									</div>
								</div>

							</div>
						</div>

					</smart-tab-item>
				</smart-tabs>

			</div>
		</div>
	</div>
</div>
