<h3>{{ 'SCHEDULER.TITLE' | translate }}</h3>
<div class="row">
	<div class="col-sm-4">

    <div style="height: 400px">
      <!-- (endEdit)="gridScheduleEndEdit($event)" -->
      <smart-grid #gridSchedule
        id="gridSchedule"
        (rowClick)="gridScheduleSelect($event)"
        (cellClick)="gridScheduleCellClick($event)"
        [theme]="smartTheme"
        [dataSource]="gridScheduleSource"
        [columns]="gridScheduleColumns"
        [selection]="gridSettings.selection"
        [behavior]="gridSettings.behavior"
        [appearance]="gridSettings.appearance">
      </smart-grid>
    </div>

    <div class="d-flex flex-row-reverse">
			<div class="btn-group mt-1" role="group">
				<button class="btn btn-primary" (click)="btNewSchedule($event)"><span><i class="far fa-plus"></i></span></button>
				<button class="btn btn-primary" (click)="btDeleteSchedule($event)"><span><i class="far fa-minus"></i></span></button>
			</div>
		</div>
  </div>

  <div class="col-sm-8">

    <smart-tabs>
      <smart-tab-item [label]="'SCHEDULER.TAB.SETTINGS' | translate">

        <div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<div class="form-group row mb-2">
							<label class="col-sm-2 col-form-label">{{ 'SCHEDULER.LABEL.NAME' | translate }}: </label>
							<div class="col-sm-10">
								<input class="form-control" type="text" [(ngModel)]="selectedSchedule.name" [disabled]="disabledUser" (change)="inputChange($event)"/>
							</div>
						</div>
						<h6>{{ 'SCHEDULER.LABEL.NEXTLAUNCH' | translate }}</h6>
						<div class="row mb-2">
							<div class="col-sm-6">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">{{ 'SCHEDULER.LABEL.DATE' | translate }}: </label>
									<div class="col-sm-8">
										<input class="form-control" type="date" [(ngModel)]="selectedSchedule.nextLaunchDate" [disabled]="disabledUser" (change)="inputChange($event)"/>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">{{ 'SCHEDULER.LABEL.TIME' | translate }}: </label>
									<div class="col-sm-8">
										<input class="form-control" type="time" [(ngModel)]="selectedSchedule.nextLaunchTime" [disabled]="disabledUser" (change)="inputChange($event)"/>
									</div>
								</div>
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-sm-6">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">{{ 'SCHEDULER.LABEL.PROCESSSIZE' | translate }}: </label>
									<div class="col-sm-8">
										<input class="form-control" type="number" [(ngModel)]="selectedSchedule.detail.processSize" [disabled]="disabledAdmin" (change)="inputChange($event)"/>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-check mt-2">
									<input class="form-check-input" type="checkbox" value="" [(ngModel)]="selectedSchedule.detail.inactiveOnFailure" id="inactiveOnFailure" [disabled]="disabledUser" (change)="inputChange($event)">
									<label class="form-check-label" for="inactiveOnFailure">
										{{ 'SCHEDULER.LABEL.INACTIVEFAIL' | translate }}
									</label>
								</div>
							</div>
						</div>
						<h6>{{ 'SCHEDULER.LABEL.LASTLAUNCH' | translate }}</h6>
						<div class="row mb-2">
							<div class="col-sm-6">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">{{ 'SCHEDULER.LABEL.DATE' | translate }}: </label>
									<div class="col-sm-8">
										<input class="form-control" type="date" [(ngModel)]="selectedSchedule.lastLaunchDate" disabled/>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">{{ 'SCHEDULER.LABEL.TIME' | translate }}: </label>
									<div class="col-sm-8">
										<input class="form-control" type="time" [(ngModel)]="selectedSchedule.lastLaunchTime" disabled/>
									</div>
								</div>
							</div>
						</div>
						<h6>{{ 'SCHEDULER.LABEL.LASTCOMPLETED' | translate }}</h6>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">{{ 'SCHEDULER.LABEL.DATE' | translate }}: </label>
									<div class="col-sm-8">
										<input class="form-control" type="date" [(ngModel)]="selectedSchedule.lastCompletedDate" disabled/>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">{{ 'SCHEDULER.LABEL.TIME' | translate }}: </label>
									<div class="col-sm-8">
										<input class="form-control" type="time" [(ngModel)]="selectedSchedule.lastCompletedTime" disabled/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-1"></div>
				</div>

      </smart-tab-item>

      <smart-tab-item [label]="'SCHEDULER.TAB.SCHEDULE' | translate">

        <div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<div class="form-group row mb-2">
							<label for="brandName" class="col-sm-2 col-form-label">{{ 'SCHEDULER.LABEL.FREQUENCY' | translate }}:</label> 
							<div class="col-sm-10">
								<select class="form-control" [(ngModel)]="selectedSchedule.detail.frequency.period" (change)="inputChange($event)" [disabled]="disabledAdmin">
									<option value="daily">Daily</option>
									<option value="weekly">Weekly</option>
									<option value="monthly">Monthly</option>
								</select>
							</div>
						</div>
						<div class="form-group row mb-2">
							<label class="col-sm-2 col-form-label">{{ 'SCHEDULER.LABEL.EVERY' | translate }}: </label>
							<div class="col-sm-4">
								<input class="form-control" type="number" [(ngModel)]="selectedSchedule.detail.frequency.every" [disabled]="disabledAdmin" (change)="inputChange($event)"/>
							</div>
							<label *ngIf="selectedSchedule.detail.frequency.period === 'daily'" class="col-sm-2 col-form-label">{{ 'SCHEDULER.LABEL.DAYS' | translate }}</label>
							<label *ngIf="selectedSchedule.detail.frequency.period === 'weekly'" class="col-sm-2 col-form-label">{{ 'SCHEDULER.LABEL.WEEKS' | translate }}</label>
							<label *ngIf="selectedSchedule.detail.frequency.period === 'monthly'" class="col-sm-2 col-form-label">{{ 'SCHEDULER.LABEL.MONTHS' | translate }}</label>
						</div>
						<div *ngIf="selectedSchedule.detail.frequency.period === 'weekly'" class="mb-2">
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">{{ 'SCHEDULER.LABEL.ON' | translate }}: </label>
								<div class="col-sm-10">
									<app-admin-scheduler-day-button [value]="1" [label]="'Monday'" [bDisabled]="disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="2" [label]="'Tuesday'" [bDisabled]="disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="3" [label]="'Wednesday'" [bDisabled]="disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="4" [label]="'Thrusday'" [bDisabled]="disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="5" [label]="'Friday'" [bDisabled]="disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="6" [label]="'Saturday'" [bDisabled]="disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="7" [label]="'Sunday'" [bDisabled]="disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
								</div>
							</div>
						</div>
						<div *ngIf="selectedSchedule.detail.frequency.period === 'monthly'" class="mb-2">
							<div class="mb-1 row">
								<div class="col-sm-2">
									<div class="form-check mt-2">
										<input class="form-check-input" type="radio" value="days" [(ngModel)]="selectedSchedule.detail.frequency.monthChoice" name="monthChoice" [disabled]="disabledAdmin" (change)="monthChoiceChange($event)">
										<label class="form-check-label" for="inactiveOnFailure">
											{{ 'SCHEDULER.LABEL.ON' | translate }}:
										</label>
									</div>
								</div>
								<!-- <label class="col-sm-2 col-form-label">{{ 'SCHEDULER.LABEL.ON' | translate }}:</label>  -->
								<div class="col-sm-10">
									<app-admin-scheduler-day-button [value]="1" [label]="'1'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="2" [label]="'2'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="3" [label]="'3'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="4" [label]="'4'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="5" [label]="'5'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="6" [label]="'6'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="7" [label]="'7'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
								</div>
							</div>
							<div class="mb-1 row">
								<div class="col-sm-2"></div>
								<div class="col-sm-10">
									<app-admin-scheduler-day-button [value]="8" [label]="'8'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="9" [label]="'9'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="10" [label]="'10'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="11" [label]="'11'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="12" [label]="'12'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="13" [label]="'13'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="14" [label]="'14'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
								</div>
							</div>
							<div class="mb-1 row">
								<div class="col-sm-2"></div>
								<div class="col-sm-10">
									<app-admin-scheduler-day-button [value]="15" [label]="'15'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="16" [label]="'16'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="17" [label]="'17'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="18" [label]="'18'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="19" [label]="'19'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="20" [label]="'20'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="21" [label]="'21'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
								</div>
							</div>
							<div class="mb-1 row">
								<div class="col-sm-2"></div>
								<div class="col-sm-10">
									<app-admin-scheduler-day-button [value]="22" [label]="'22'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="23" [label]="'23'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="24" [label]="'24'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="25" [label]="'25'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="26" [label]="'26'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="27" [label]="'27'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="28" [label]="'28'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-2"></div>
								<div class="col-sm-10">
									<app-admin-scheduler-day-button [value]="29" [label]="'29'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="30" [label]="'30'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
									<app-admin-scheduler-day-button [value]="31" [label]="'31'" [bDisabled]="!bMonthlyDays || disabledAdmin" [selectedDays]="selectedSchedule.detail.frequency.days" (clicked)="dayButtonClicked($event)"></app-admin-scheduler-day-button>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-2">
									<div class="form-check mt-2">
										<input class="form-check-input" type="radio" value="onDay" [(ngModel)]="selectedSchedule.detail.frequency.monthChoice" name="monthChoice" [disabled]="disabledAdmin" (change)="monthChoiceChange($event)">
										<label class="form-check-label" for="inactiveOnFailure">
											{{ 'SCHEDULER.LABEL.ONTHE' | translate }}:
										</label>
									</div>
								</div>
								<div class="col-sm-4">
									<select class="form-control" [(ngModel)]="selectedSchedule.detail.frequency.onDay.dayNum" (change)="inputChange($event)" [disabled]="bMonthlyDays">
										<option value="first">First</option>
										<option value="second">Second</option>
										<option value="third">Third</option>
										<option value="fourth">Fourth</option>
										<option value="last">Last</option>
									</select>
								</div>
								<div class="col-sm-2"></div>
								<div class="col-sm-4">
									<select class="form-control" [(ngModel)]="selectedSchedule.detail.frequency.onDay.dayType" (change)="inputChange($event)" [disabled]="bMonthlyDays">
										<option value="monday">Monday</option>
										<option value="tuesday">Tuesday</option>
										<option value="wednesday">Wednesday</option>
										<option value="thrusday">Thrusday</option>
										<option value="friday">Friday</option>
										<option value="saturday">Saturday</option>
										<option value="sunday">Sunday</option>
										<option value="day">Day</option>
										<option value="weekday">Weekday</option>
										<option value="weekendday">Weekend Day</option>
									</select>
								</div>
							</div>
						</div>
						
						<h6>{{ 'SCHEDULER.LABEL.TIMING' | translate }}</h6>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group row">
									<div class="col-sm-1">
										<div class="form-check mt-2">
											<input class="form-check-input" type="radio" value="time" [(ngModel)]="selectedSchedule.detail.frequency.timing" name="timingTime" [disabled]="disabledAdmin" (change)="inputChange($event)">
										</div>
									</div>
									<label class="col-sm-3 col-form-label">{{ 'SCHEDULER.LABEL.AT' | translate }}:</label> 
									<div class="col-sm-8">
										<input class="form-control" type="time" [(ngModel)]="selectedSchedule.detail.frequency.specifiedTime" [disabled]="disabledAdmin" (change)="inputChange($event)"/>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group row mb-2">
									<div class="col-sm-1">
										<div class="form-check mt-2">
											<input class="form-check-input" type="radio" value="periodic" [(ngModel)]="selectedSchedule.detail.frequency.timing" name="timingTime" [disabled]="disabledAdmin" (change)="inputChange($event)">
										</div>
									</div>
									<label class="col-sm-3 col-form-label">{{ 'SCHEDULER.LABEL.ATINTERVAL' | translate }}:</label> 
									<div class="col-sm-8">
										<input class="form-control" type="time" [(ngModel)]="selectedSchedule.detail.frequency.interval" [disabled]="disabledAdmin" (change)="inputChange($event)"/>
									</div>
								</div>
								<div class="form-group row mb-2">
									<div class="col-sm-1"></div>
									<label class="col-sm-3 col-form-label">{{ 'SCHEDULER.LABEL.FROM' | translate }}: </label>
									<div class="col-sm-8">
										<input class="form-control" type="time" [(ngModel)]="selectedSchedule.detail.frequency.startTime" [disabled]="disabledAdmin" (change)="inputChange($event)"/>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-1"></div>
									<label class="col-sm-3 col-form-label">{{ 'SCHEDULER.LABEL.TO' | translate }}: </label>
									<div class="col-sm-8">
										<input class="form-control" type="time" [(ngModel)]="selectedSchedule.detail.frequency.endTime" [disabled]="disabledAdmin" (change)="inputChange($event)"/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-1"></div>
				</div>
        
      </smart-tab-item>

      <smart-tab-item [label]="'SCHEDULER.TAB.ACTIONS' | translate">

        <div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<div class="row">
							<div class="col-sm-6">

                <div style="height: 300px">
                  <smart-grid #gridAction
                    id="gridAction"
                    (rowClick)="gridActionSelect($event)"
                    [theme]="smartTheme"
                    [dataSource]="gridActionSource"
                    [columns]="gridActionColumns"
                    [selection]="gridSettings.selection"
                    [behavior]="gridActionBehavior"
                    [appearance]="gridActionAppearance">
                  </smart-grid>
                </div>

								<div class="d-flex flex-row-reverse">
									<div class="btn-group mt-1" role="group">
										<button class="btn btn-primary" (click)="btNewAction($event)" [disabled]="disabledAdmin"><span><i class="far fa-plus"></i></span></button>
										<button class="btn btn-primary" (click)="btDeleteAction()" [disabled]="disabledAdmin"><span><i class="far fa-minus"></i></span></button>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<h6>{{ 'SCHEDULER.LABEL.PARAMETERS' | translate }}</h6>
								<div *ngFor="let param of selectedAction.parameters; index as i">
									<app-admin-scheduler-parameter [paramData]="param" [myIndex]="i" [disabledAdmin]="disabledAdmin" (deleteClicked)="paramDeleted($event)" (valueChange)="inputChange($event)"></app-admin-scheduler-parameter>
								</div>
								<div class="row">
									<div class="col-sm-10"></div>
									<div class="col-sm-2">
										<button class="btn btn-primary" (click)="btNewParameter()" [disabled]="(selectedAction.method === '') || disabledAdmin"><span><i class="far fa-plus"></i></span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-1"></div>
				</div>

      </smart-tab-item>

    </smart-tabs>
  </div>
</div>

<div class="d-flex flex-row-reverse mt-2">
	<button class="btn btn-primary" (click)="buttonSaveClick()" [disabled]="!pendingChanges"><span><i class="far fa-save"></i>&nbsp; {{ 'BUTTON.APPLYCHANGES' | translate }}</span></button>
</div>

<smart-menu #menuAction
	(itemClick)="menuItemClick($event)"
	[dataSource]="actionList" 
	[theme]="smartTheme"
	[mode]="'dropDown'"
  [opened]="false"
	[animation]="'simple'">
</smart-menu>
