$font-size-base:              0.85rem; // Assumes the browser default, typically `16px`
$theme-colors: (
  "primary": #B3282D,
  "danger": #ff4136
);

$a: #F4E3EE;
$b: #000000;
$c: #FFFFFF;
$d: #E2E2E2;
